@font-face {
    font-family: "Name_Sans_Display-Ultra.trial";
    src: url(./assets/Name_Sans_Display-Ultra.trial.woff2) format("woff2");
}
@font-face {
    font-family: "Name_Sans_Display-SemiBold.trial";
    src: url(./assets/Name_Sans_Display-SemiBold.trial.woff2) format("woff2");
}
@font-face {
    font-family: "Name_Sans_Display-ExtraBold.trial";
    src: url(./assets/Name_Sans_Display-ExtraBold.trial.woff2) format("woff2");
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    background-color: black;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}
.container2 {
    background-color: white;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.container3 {
    background-color: white;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}
/* homepage */
.articlename h1{
    font-family: "Name_Sans_Display-Ultra.trial";
    font-size: 11.25rem;
    width: 1371px;
    height: 401px;
    color: white;
    margin-top: 20rem;
    margin-left: 2.5rem;
}
.authorname {
    display: flex;
    font-family: PingFang SC;
    font-size: 2.5rem;
    font-weight: 100;
    color: white;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
}
.briefinfo {
    font-family: "Name_Sans_Display-ExtraBold.trial";
    font-size: 6.2rem;
    -webkit-text-stroke: 2px white;
    margin-left: 2.5rem;
}
.starter p {
    font-family: PingFang SC;
    font-weight: 300;
    font-size: 2.5rem;
    color: white;
    margin-left: 2.5rem;
    width: 55rem;
}
.arrow img {
    display: flex;
    margin-left: 63rem;
    margin-top: -15rem;
}
.arrow img:hover {
    animation: directing 1.5s both infinite ease-in-out;
}
@keyframes directing {
    0% {margin-left: 63rem;}
    50% {margin-left: 68rem;}
    100% {margin-left: 63rem;}
}

/* index page */
.wrapper {
    display: flex;
    margin-top: 9rem;
    margin-left: 12rem;
}
.line {
    width: 0;
    height: 62rem;
    border: 1px solid #000000;
}
.index ul {
    list-style: none;
    font-family: PingFang SC;
    color: black;
    font-size: 1.8rem;
    margin-left: 12rem;
    margin-top: -2rem;
    line-height: 8rem;
}
.index a {
    text-decoration: none;
    color: black;
}
.punctuations {
    font-family: "Name_Sans_Display-SemiBold.trial";
    display: flex;
}
.questionmark {
    font-size: 6.6rem;
    margin-left: -28rem;
    margin-top: 15rem;
}
.exclamation {
    font-size: 6.6rem;
    transform: rotate(24.61deg);
    margin-top: 22.5rem;
    margin-left: 28rem;
}
.apostrophe {
    font-size: 10rem;
    margin-top: 28rem;
    margin-left: 18rem;
}
.period {
    font-size: 6.6rem;
    margin-top: 39rem;
    margin-left: -20rem;
}
.colon {
    font-size: 4.4rem;
    margin-top: 49rem;
    margin-left: -36rem;
    transform: rotate(-25deg);
}
.semicolon {
    font-size: 7.6rem;
    margin-top: 47rem;
    margin-left: 57rem;
}
.comma {
    font-size: 15.6rem;
    margin-top: 46rem;
    margin-left: -19rem;
    transform: rotate(-18deg);
}
.shake {
    animation-name: shake; 
    animation-duration: 1.5s; 
    animation-fill-mode: both; 
    animation-iteration-count: infinite;
}
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
} 
/* question mark page */
.returnsign {
    font-family: PingFang SC;
    font-weight: 600;
    font-size: 100px;
    color: white;
    text-decoration: none;
    width: 113px;
    height: 96px;
    display: flex;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
}
.questionmarkcontent {
    width: 55rem;
    height: 35rem;
    font-family: PingFang SC;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
    color: white;
    transform: rotate(-9.13deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.choosingbuttons ul{
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 600;
    font-size: 4.4rem;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.choosingbuttons li {
    margin: 7rem;
    color: white;
}
.choosingbuttons li:hover {
    background-color: white;
    color: black;
    width: 550px;
    height: 117px;
    border-radius: 58.5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* exclamation mark page */
.exclamationcontent {
    width: 66rem;
    font-family: PingFang SC;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 5rem;
    line-height: 110%;
    margin: 0 auto;
}
#exclamationmark:hover {
    font-size: 8rem;
    color: orange;
}
/* apostrophe page */
.apostrophecontent {
    width: 58rem;
    font-family: PingFang SC;
    font-size: 30px;
    color: white;
    line-height: 140%;
    margin: 0 auto;
    padding-top: 2rem;
}
#semibold {
    font-weight: 600;
}
#light {
    font-weight: 300;
}
#thin {
    font-weight: 200;
}
/* period page */
.returnsign2 {
    font-family: PingFang SC;
    font-weight: 600;
    font-size: 100px;
    color: black;
    text-decoration: none;
    width: 113px;
    height: 96px;
    display: flex;
    margin-top: 1.5rem;
    margin-left: 3.5rem;
    align-items: center;
}
.periodcontent {
    font-family: PingFang SC;
    font-size: 30px;
    font-weight: normal;
    width: 67.25rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
#periods {
    font-size: 100px;
}
#periods:hover {
    color: orange;
}
.choosingbuttons2 ul{
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 600;
    font-size: 4.4rem;
    color: black;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.choosingbuttons2 li {
    margin: 7rem;
    color: black;
}
.choosingbuttons2 li:hover {
    background-color: black;
    color: white;
    width: 550px;
    height: 117px;
    border-radius: 58.5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* colons & semicolons page */
.colonscontent {
    font-family: PingFang SC;
    font-size: 30px;
    font-weight: normal;
    width: 65rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
#colons {
    font-size: 70px;
    font-weight: 900;
    animation: shine 1.5s ease-in-out infinite both;
}
@keyframes shine {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 001;}
}
/* comma page */
.commacontent {
    font-family: PingFang SC;
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;
    width: 75%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}
#commas {
    font-weight: 200;
    letter-spacing: 2rem;
}
#commas:hover {
    animation: spread 5s ease-in-out infinite both;
}
@keyframes spread {
    0% {letter-spacing: 1rem;}
    50% {letter-spacing: 3rem;}
    100% {letter-spacing: 1rem;}
}
/* ending page */
.endingcontent {
    font-family: "Name_Sans_Display-SemiBold.trial";
    color: white;
    width: 80%;
    font-size: 5rem;
    display: flex;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}
.endingcontent:hover {
    color: orange;
}
/* media query; have the website work in phone size */
@media only screen and (max-width: 376px) {
    /* homepage */
    .articlename h1{
        font-size: 100px;
        width: 295px;
        height: 401px;
        color: white;
        margin-top: 19rem;
        margin-left: 1.7rem;
        hyphens: auto;
        word-wrap: break-word;
    }
    .authorname {
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 1.5rem;
    }
    .briefinfo {
        font-size: 3.6rem;
        -webkit-text-stroke: 1px white;
        margin-left: 1.7rem;
    }
    .starter p {
        font-weight: normal;
        font-size: 1.6rem;
        margin-left: 1.7rem;
        width: 343px;
    }
    .arrow img {
        display: flex;
        margin-left: 15rem;
        margin-top: 2rem;
        width: 20%;
        padding-bottom: 2rem;
    }
    /* toc page */
    .wrapper {
        margin-top: 6.5rem;
        margin-left: 4rem;
    }
    .line {
        height: 45rem;
    }
    .index ul {
        width: 13rem;
        font-size: 1.2rem;
        margin-left: 1.5rem;
        margin-top: -2rem;
        line-height: 5.3rem;
    }
    .questionmark {
        font-size: 3rem;
        margin-left: -6rem;
        margin-top: 7rem;
        line-height: 2rem;
    }
    .exclamation {
        font-size: 3rem;
        transform: rotate(-24.61deg);
        margin-top: 17rem;
        margin-left: -4rem;
    }
    .apostrophe {
        width: 136px;
        height: 58px;
        font-size: 10rem;
        margin-top: 20rem;
        margin-left: 3.5rem;
        transform: rotate(23.35deg);
    }
    .period {
        width: 23px;
        height: 85px;
        font-size: 4rem;
        margin-top: 25rem;
        margin-left: -13rem;
    }
    .colon {
        width: 28.03px;
        height: 71.65px;
        font-size: 3rem;
        margin-top: 34rem;
        margin-left: -6.5rem;
        transform: rotate(0);
    }
    .semicolon {
        width: 51px;
        height: 109px;
        font-size: 7.6rem;
        margin-top: 33rem;
        margin-left: 11rem;
        transform: rotate(70.29deg);
    }
    .comma {
        width: 28px;
        height: 171px;
        font-size: 12rem;
        margin-top: 32rem;
        margin-left: -8rem;
        transform: rotate(-10deg);
    }
    /* question mark page */
    .returnsign {
        font-size: 100px;
        font-weight: 200;
        height: 50px;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .questionmarkcontent {
        font-size: 16px;
        width: 19rem;
        line-height: 120%;
        transform: rotate(-9deg);
        margin-bottom: 6rem;
    }
    .choosingbuttons ul{
        font-size: 2.2rem;
        margin: 0 auto;
        display: block;
    }
    .choosingbuttons li {
        background-color: white;
        color: black;
        width: 280.39px;
        height: 59.65px;
        border-radius: 58.5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: -5rem;
        margin-left: -0.1rem;
    }
    .choosingbuttons li:hover {
        background-color: white;
        color: black;
        width: 280.39px;
        height: 59.65px;
        border-radius: 58.5px;
        margin-top: -5rem;
        margin-left: -0.1rem;
    }
    /* exclamation page */
    .exclamationcontent {
        width: 19.5rem;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 120%;
        margin-top: 5rem;
        margin-left: auto;
        margin-bottom: 6rem;
    }
    #exclamationmark:hover {
        font-size: 3rem;
        color: orange;
    }
    /* apostrophe page */
    .apostrophecontent {
        width: 19.5rem;
        font-size: 16px;
        padding-top: 6rem;
        padding-bottom: 7rem;
    }
    /* period page */
    .returnsign2 {
        font-size: 100px;
        font-weight: 200;
        height: 50px;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .periodcontent {
        font-size: 16px;
        width: 19.5rem;
        margin-top: 3rem;
        margin-bottom: 6.5rem;
    }
    #periods {
        font-size: 40px;
    }
    .choosingbuttons2 ul{
        font-size: 2.2rem;
        color: black;
        margin: 0 auto;
        display: block;
    }
    .choosingbuttons2 li {
        background-color: black;
        color: white;
        width: 280.39px;
        height: 59.65px;
        border-radius: 58.5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: -5rem;
        margin-left: -0.1rem;
    }
    .choosingbuttons2 li:hover {
        background-color: black;
        color: white;
        width: 280.39px;
        height: 59.65px;
        border-radius: 58.5px;
        text-align: center;
        justify-content: center;
        align-items: center;
         margin-top: -5rem;
        margin-left: -0.1rem;
    }
    /* colons & semicolons page */
    .colonscontent {
        font-size: 16px;
        width: 19.5rem;
        margin-top: 4rem;
        margin-bottom: 7rem;
    }
    #colons {
        font-size: 35px;
        animation: shine 3s ease-in-out infinite both;
    }
    /* comma page */
    .commacontent {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 6.5rem;
    }
    #commas {
        letter-spacing: 1rem;
    }
    /* ending page */
    .endingcontent {
        width: 80%;
        font-size: 2.5rem;
        margin-top: 5rem;
    }
} 